body {
    font-family: Arial, Helvetica, sans-serif;
    background: #c3d6ef;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.nav-bar {
    background-color: #4a48c5;
    height: 115px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1080px;
}

.div-logo-nav-bar img {
    height: 100px;
}

.div-logo-nav-bar {
    padding-left: 20px;
    cursor: pointer;
}

.btn-logout {
    font-size: 30px;
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.div-pai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 770px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    height: 350px;
    border-radius: 5px;
    transform: translateY(25%);
    background-color: #7694bb;
}

.div-pagina-inicial {
    display: flex;
    flex-direction: row;
    width: 1000px;
    border-radius: 5px;
    gap: 20px;
    justify-content: center;
    margin-left: 35px;
}

.div-btn-cadastrar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 179px;
    border-radius: 5px;
    gap: 15px;
    margin-bottom: 60px;
}

.div-btn-consulta {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 60px;
    align-items: center;
    gap: 15px;
}

.div-btn-ax {
    display: flex;
    flex-direction: column;
    background-color: #5f5dd6;
    width: 500px;
    height: 25px;
    border-radius: 5px;
}

h1 {
    font-size: 55px;
}

.btn-x {
    height: 100%;
    width: 300px;
    border-radius: 5px;
    border: none;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.btn-x:hover {
    background-color: #b3ced6;
    cursor: pointer;
}